{
  "extends": [
    "@nuxtjs/eslint-config-typescript"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": [
      "off"
    ],
    "@typescript-eslint/no-explicit-any": "off",
    "no-implicit-coercion": "off",
    "no-implicit-globals": "off"
  }
}
